In [ ]:
import pandas as pd

filmes = pd.read_csv("./data_FMU/movies.csv")

filmes.columns = ["filmeId", "titulo", "genero"]

filmes = filmes.set_index("filmeId")

filmes.head(10)

,titulo,genero
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

In [ ]:
notas = pd.read_csv("./data_FMU/ratings.csv")

notas.columns = ["usuarioId", "filmeId", "nota", "momento"]

notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [ ]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [ ]:
notas['filmeId'].value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: filmeId, Length: 9724, dtype: int64

In [ ]:
filmes.loc[356]

userId               4.0
movieId            919.0
rating               5.0
timestamp    945079521.0
Name: 356, dtype: float64

In [ ]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head(10)

356     329
318     317
296     307
593     279
2571    278
260     251
480     238
110     237
589     224
527     220
Name: filmeId, dtype: int64

In [ ]:
filmes["total_de_votos"] = total_de_votos
filmes.head(10)

   userId  movieId  rating  timestamp  total_de_votos
0       1        1     4.0  964982703             NaN
1       1        3     4.0  964981247           215.0
2       1        6     4.0  964982224           110.0
3       1       47     5.0  964983815            52.0
4       1       50     5.0  964982931             7.0
5       1       70     3.0  964982400            49.0
6       1      101     5.0  964980868           102.0
7       1      110     4.0  964982176            54.0
8       1      151     5.0  964984041             8.0
9       1      157     5.0  964984100            16.0

In [ ]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

      userId  movieId  rating   timestamp  total_de_votos
356        4      919     5.0   945079521           329.0
318        4      260     5.0   945079259           317.0
296        3     7991     5.0  1306463684           307.0
593        6       62     4.0   845553660           279.0
2571      19     1625     4.0   965710871           278.0
260        2   131724     5.0  1445714851           251.0
480        4     3591     1.0   986935199           238.0
110        1     1793     4.0   964981404           237.0
589        6       50     1.0   845553381           224.0
527        5      247     5.0   847435337           220.0

In [ ]:
notas.groupby("filmeId").mean() ['nota']

filmeId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: nota, Length: 9724, dtype: float64

In [ ]:
notas_medias = notas.groupby("filmeId").mean() ["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [ ]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

      userId  movieId  rating   timestamp  total_de_votos  nota_media
356        4      919     5.0   945079521           329.0    4.164134
318        4      260     5.0   945079259           317.0    4.429022
296        3     7991     5.0  1306463684           307.0    4.197068
593        6       62     4.0   845553660           279.0    4.161290
2571      19     1625     4.0   965710871           278.0    4.192446
260        2   131724     5.0  1445714851           251.0    4.231076
480        4     3591     1.0   986935199           238.0    3.750000
110        1     1793     4.0   964981404           237.0    4.031646
589        6       50     1.0   845553381           224.0    3.970982
527        5      247     5.0   847435337           220.0    4.225000

In [ ]:
! pip install fastapi==0.78.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fastapi==0.78.0
  Downloading fastapi-0.78.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.4 MB/s
Collecting starlette==0.19.1
  Downloading starlette-0.19.1-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 771 kB/s
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi==0.78.0) (1.10.2)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.19.1->fastapi==0.78.0) (4.1.1)
Collecting anyio<5,>=3.4.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 10.1 MB/s
Collecting sniffio>=1.1
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<5,>=3.4.0->starlette==0.19.1->fastapi==0.78.0) (2.10)
Installing collected packages: sniffio, anyio, starlette, fastapi
Successfully installed anyio-3.6.2 fastapi-0.78.0 sniffio-1.3.0 starlette-0.19.1

In [ ]:
from fastapi import FastApi

ImportError: ignored